.diagram-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0px;
    right: 0px;
}

.diagram-component-panel {
    position: absolute;
    bottom: 0px;
    z-index: 16;
    left: 0px;
    right: 0px;
}
