.diagram-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.diagram-node-type {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.diagram-component-panel {
    position: fixed;
    bottom: 0px;
    z-index: 16;
    left: 0px;
    right: 0px;
}
